<div>
	<ul>
		
	<li> Name: <%= @material.nome %> </li>
	<li> Quantity <%= @material.quantity %> </li>
	
	</ul>
		<%= link_to 'Edit', edit_material_path(@material, class: "btn btn-info") %> |
		<%= link_to 'Delete', material_path(@material), method: :delete, data: {confirm: "Are you sure?", class: "btn btn-danger"} %>
	</p>

</div>
